<div> 





<h2 align="center" ng-click="arteest = !arteest">
Add Artist


</h2>

<div id="artwrap" ng-show="arteest">

<div class="post" >


<div class="artist2">
<img class="prof2" ng-if="atpostCtrl.ape.profpic" ng-src="{{atpostCtrl.ape.profpic}}">

	<div class="desc">{{atpostCtrl.ape.artist}}
					</div>
</div>



<form name="artistForm" ng-submit="artistForm.$valid && atpostCtrl.addArtist()" novalidate>

<h3 align="center">

<br> name: <textarea value="header" class="header" ng-model="atpostCtrl.ape.artist" required></textarea>
<br> picture url: <textarea  value="header" class="header" ng-model="atpostCtrl.ape.profpic" required></textarea>
<br> bandcamp url: <textarea type="url" value="header" class="header" ng-model="atpostCtrl.ape.bndcmp"></textarea>
<br> facebook url: <textarea type="url"  value="header" class="header" ng-model="atpostCtrl.ape.fbook"></textarea>

<br>
<img src="https://gp4.googleusercontent.com/-qgVf780dzWA/AAAAAAAAAAI/AAAAAAAAAAA/pu0FU4GxAf4/s48-c-k-no/photo.jpg" ng-show="artistForm.$valid">
<input class="submit" type="submit"></input>

</h3>

</form>

</div>

</div>




<h2 align="center" ng-click="tapp = !tapp">
Add Tape




</h2>

<div id="tapwrap" ng-show="tapp">
<div class="post">

<div class="prev2" ng-repeat="stunah in atpostCtrl.stunner" ng-click="atpostCtrl.clkArt(stunah)" ng-class="{active: stunah === atpostCtrl.art}">

	<article align="center">
	<a >{{stunah.artist}}</a>
	</article>


	<div class="prev3" ng-if="stunah.tapes" ng-repeat="tape in stunah.tapes">
	<article align="center">
		{{tape.name}}
		</article>
	</div>



	</div>


<div class="prev2" style="color:red;"ng-click="atpostCtrl.art = null">
	<article align="center">
Reset

</article>
</div>






<form name="tapeForm" ng-if="atpostCtrl.art" ng-submit="tapeForm.$valid && atpostCtrl.addTape()" novalidate>

<h3 align="center">

<br> name: <textarea value="header" class="header" ng-model="atpostCtrl.tape.name" required></textarea>
<br> picture url: <textarea value="header" class="header" ng-model="atpostCtrl.tape.imgurl" required></textarea>
<br> bigcartel url: <textarea value="header" class="header" ng-model="atpostCtrl.tape.storeurl"></textarea>
<br> bandcamp url: <textarea value="header" class="header" ng-model="atpostCtrl.tape.digitalurl"></textarea>

<br>
<img src="https://gp4.googleusercontent.com/-qgVf780dzWA/AAAAAAAAAAI/AAAAAAAAAAA/pu0FU4GxAf4/s48-c-k-no/photo.jpg" ng-show="tapeForm.$valid">
<input class="submit" type="submit"></input>

</h3>

</form>




</div>



</div> 


</div>