@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
html {
  background: url(imgs/ben1.jpg) 100% 0 repeat fixed;
  width: 100% !important;
  background-size: cover;
  -moz-background-size: cover;
  font-family: 'Roboto Condensed', sans-serif; }

@media (min-width: 1215px) {
  html {
    background-position: 0px -50px; } }
@media (min-width: 1415px) {
  html {
    background-position: 0px -200px; } }
body {
  margin: 0px; }

#logo {
  margin-left: -3px;
  margin-top: -5px;
  width: 100%;
  background-color: transparent;
  left: 0px; }
  #logo img {
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto; }

#logo2 {
  margin-top: 10px;
  width: 100%;
  background-color: transparent;
  left: 0px; }
  #logo2 img {
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto; }

#bodwrap {
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 0px; }

@media (min-width: 1185px) {
  #bodwrap {
    margin-left: 100px;
    margin-right: 100px; } }
#bod1 {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1px;
  padding-bottom: 10px;
  min-height: 510px;
  background-size: cover;
  -moz-background-size: cover;
  background-position: 0px -150px;
  border: 3px double transparent;
  -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  -moz-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  /* border-top: 3px solid black;
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
   background-image: -webkit-linear-gradient(#000, transparent);
   background-image:
       -moz-linear-gradient(#000, transparent),
       -moz-linear-gradient(#000, transparent);
   background-image:
       -o-linear-gradient(#000, transparent),
       -o-linear-gradient(#000, transparent);
   background-image: 
       linear-gradient(#000, transparent),
       linear-gradient(#000, transparent);
   -moz-background-size: 3px 100%;
   background-size: 3px 100%;
   background-position: 0 0, 100% 0;
   background-repeat: no-repeat; */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around; }

@-webkit-keyframes colors {
  0% {
    background: transparent; }
  25% {
    background: #EDE9AC; }
  50% {
    background: transparent; }
  75% {
    background: #EDE9AC; }
  100% {
    background: transparent; } }
/* Standard syntax */
@keyframes colors {
  0% {
    background: transparent; }
  25% {
    background: #EDE9AC; }
  50% {
    background: transparent; }
  75% {
    background: #EDE9AC; }
  100% {
    background: transparent; } }
.colors {
  /*  -webkit-animation: colors $time linear $time infinite alternate; 
  animation: colors $time linear $time infinite alternate; */ }

@media (min-width: 1185px) {
  #bod1 {
    width: 99.5%; } }
#bod2 {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  -moz-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  border: 3px double transparent; }

#bod3 {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  -moz-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  border: 3px double transparent; }

#bod4 {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  -moz-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  border: 3px double transparent; }

#bod5 {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  -moz-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  border: 3px double transparent; }

#bod6 {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  -moz-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  border: 3px double transparent; }

#bod7 {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  -moz-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0);
  border: 3px double transparent; }

#nav {
  flex: 1 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: -5px; }

.naver {
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  max-height: 40px;
  -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.15);
  -moz-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.15);
  box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.15);
  font-size: 28px;
  border: 3px double black; }

.naver:hover, .active {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.55);
  -moz-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.55);
  box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.55);
  color: white;
  background: black; }

#supguys {
  margin-top: 102px;
  margin-bottom: 75px;
  height: 197px;
  font-size: 4em; }

#tapes {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%; }

.tape {
  margin-top: 10px;
  margin-bottom: 10px; }
  .tape img {
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.25);
    -moz-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.25);
    box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.25);
    height: 350px;
    width: 250px; }
  .tape img:hover {
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.75);
    -moz-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.75);
    box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.75); }

#artists {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 5px; }

.artist {
  margin-top: 10px;
  margin-bottom: -3px; }
  .artist img.prof {
    margin-left: 20px;
    margin-right: 20px;
    -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.25);
    -moz-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.25);
    box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.25);
    height: 281px;
    width: 250px;
    -webkit-filter: greyscale(1); }
  .artist img.prof:hover {
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.75);
    -moz-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.75);
    box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.75); }

.desc {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px; }

.btns {
  margin-left: 50px; }

.btn {
  float: left;
  margin-left: 15px; }
  .btn img {
    height: 70px;
    width: 70px; }
  .btn img:hover {
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.75);
    -moz-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.75);
    box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.75); }

#email {
  margin-top: 102px;
  margin-bottom: 75px;
  height: 197px;
  font-size: 4em; }

#blogbut {
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  text-align: center; }

#blog {
  margin-top: 20px; }

h2 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 0px;
  margin-top: 10px; }

h4 {
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 12px; }

.blogimg {
  margin-left: auto;
  margin-right: auto; }
  .blogimg img {
    width: 90%;
    height: 90%;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.25);
    -moz-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.25);
    box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.25); }

p {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 90%; }

@media (min-width: 700px) {
  p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 50%; }

  .blogimg {
    margin-left: auto;
    margin-right: auto; }
    .blogimg img {
      width: 65%;
      height: 65%;
      display: block;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 25px;
      -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.25);
      -moz-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.25);
      box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.25); } }
.post {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px; }

.postend {
  border-bottom: 1px dotted black;
  width: 25%;
  margin-left: auto;
  margin-right: auto; }

.animate-show.ng-enter, .animate-show.ng-leave {
  position: absolute; }

.animate-show.ng-enter {
  animation: slideInRight 0.5s both ease-in;
  z-index: 8888;
  -webkit-animation: slideInRight 0.5s both ease-in;
  z-index: 8888; }

.animate-show.ng-leave {
  animation: slideOutLeft 0.5s both ease-in;
  z-index: 9999;
  -webkit-animation: slideOutLeft 0.5s both ease-in;
  z-index: 9999; }

@keyframes slideOutLeft {
  to {
    transform: translateX(-100%); } }
@-webkit-keyframes slideOutLeft {
  to {
    transform: translateX(-100%); } }
@keyframes slideInRight {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }
@-webkit-keyframes slideInRight {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }

/*# sourceMappingURL=style.css.map */
