//@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

html {
 background:url(imgs/ben1.jpg) 50% 0 repeat fixed; 
   background-position: center bottom;
  background-size: cover;

   // width: 100% !important; 
// background-size: cover;
  //-webkit-background-size: cover;
    //-moz-background-size: cover;

     
font-family: 'Roboto Condensed', sans-serif;
}


@media (min-width:1215px) {
html {
      // background-position: 0px -50px; 
    }
}

@media (min-width:1415px) {
html {
     //  background-position: 0px -200px; 
    }
}



body {
    margin: 0px;
}
#logo {

margin-left:-3px;
        margin-top: -19px;
    width: 100%; 
    background-color: transparent;

    left:0px;


    img {     // stungun logo 
        padding: 15px;

    display: block;
    margin-left: auto;
    margin-right: auto 
    

    }


    img:hover {     // stungun logo 
    
    cursor: pointer;


    }



    } // #logo  


#logo2 {

        margin-top: 10px;
    width: 100%; 
    background-color: transparent;

    left:0px;


    img {     // stungun logo 
        padding-bottom: 15px;

    display: block;
    margin-left: auto;
    margin-right: auto ;
    //border-radius: 10px;
    

    }
  
    img:hover {
      -webkit-filter:invert(100%);
      filter:invert(100%);
    }

    } // #logo  

#bodwrap {
        margin-top: 15px;
    margin-left: 0px;
     margin-right: 0px;
}

@media (min-width:1185px) {
#bodwrap {
    margin-left: 100px;
     margin-right: 100px;
}
}


$margstyl: double;
$margsiz: 3px;
$margcol: transparent; //black
$margsha: 0; // 0.25


@mixin shadow($alpha) {

      -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, $alpha);
-moz-box-shadow:    1px 1px 30px 10px rgba(47, 50, 50, $alpha);
box-shadow:         1px 1px 30px 10px rgba(47, 50, 50, $alpha); 

}

    #bod1 {

    margin-left: auto;
    margin-right: auto;

    //margin-top:10px;
     //   margin-bottom:150px;
 padding-top:1px;
  padding-bottom:10px;
    min-height: 510px; 
  //  border-radius: 10px;
 // background:url(imgs/ben1.jpg) 50% 0 repeat fixed; 
//   width: 100% !important; 
 background-size: cover;
    -moz-background-size: cover;
        background-position: 0px -150px; 


     border:$margsiz $margstyl $margcol;  

 @include shadow($margsha);

 /* border-top: 3px solid black;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
  background-image: -webkit-linear-gradient(#000, transparent);
  background-image:
      -moz-linear-gradient(#000, transparent),
      -moz-linear-gradient(#000, transparent);
  background-image:
      -o-linear-gradient(#000, transparent),
      -o-linear-gradient(#000, transparent);
  background-image: 
      linear-gradient(#000, transparent),
      linear-gradient(#000, transparent);
  -moz-background-size: 3px 100%;
  background-size: 3px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat; */









  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
     -webkit-justify-content: space-around;
  justify-content: space-around;

//  padding: 10px;



}

$thecolor:#EDE9AC;

@-webkit-keyframes colors {
  0%   {background:transparent; }
 


    25%   {background:$thecolor; }


      50%   {background:transparent; }


      75%   {background:$thecolor; }
      
          100%   {background:transparent; }

}

/* Standard syntax */
@keyframes colors {
   0%   {background:transparent; }
 


    25%   {background:$thecolor; }


      50%   {background:transparent; }


      75%   {background:$thecolor; }

          100%   {background:transparent; }
}
$time: 5s;

.colors {
    /*  -webkit-animation: colors $time linear $time infinite alternate; 
    animation: colors $time linear $time infinite alternate; */
}

@media (min-width:1185px) {
   #bod1 {
    width: 99.5%;
   }


}
    
   #bod2 {
        margin-left: auto;
    margin-right: auto;
padding: 5px;
 @include shadow($margsha);


      //  min-height: 310px; 
          border:$margsiz $margstyl $margcol;
   }

      #bod3 {
        margin-left: auto;
    margin-right: auto;
padding: 5px;
 @include shadow($margsha);


      //  min-height: 310px; 
          border:$margsiz $margstyl $margcol;
   }


      #bod4 {
        margin-left: auto;
    margin-right: auto;
padding: 5px;

 @include shadow($margsha);

      //  min-height: 310px; 
          border:$margsiz $margstyl $margcol;
   }


      #bod5 {
        margin-left: auto;
    margin-right: auto;
padding: 5px;
 @include shadow($margsha);


      //  min-height: 310px; 
          border:$margsiz $margstyl $margcol;
   }



      #bod6 {
        margin-left: auto;
    margin-right: auto;
padding: 5px;
 @include shadow($margsha);


      //  min-height: 310px; 
          border:$margsiz $margstyl $margcol;
   }

        #bod7 {
        margin-left: auto;
    margin-right: auto;
padding: 5px;
 @include shadow($margsha);


      //  min-height: 310px; 
          border:$margsiz $margstyl $margcol;
   }








#nav {

      flex: 1 100%;

      display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  justify-content: center;
  -webkit-justify-content: center;



    margin-top: -20px;
    margin-bottom: -5px;




}



.naver {

     padding-top: 9px;
            padding-bottom: 10px;
        padding-left: 10px;
         padding-right: 10px;
      //  font-size: 36px;

        margin: 10px;
            max-height: 40px;


  -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.15);
-moz-box-shadow:    1px 1px 30px 10px rgba(47, 50, 50, 0.15);
box-shadow:         1px 1px 30px 10px rgba(47, 50, 50, 0.15); 

 
   font-size: 28px;  

 border:3px solid black; 
 //border-radius: 100px;

}

.naver:hover {
//    border:2px solid red; 
     cursor: pointer;
        -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.55);
-moz-box-shadow:    1px 1px 30px 10px rgba(47, 50, 50, 0.55);
box-shadow:         1px 1px 30px 10px rgba(47, 50, 50, 0.55); 
  //   border-radius: 10px;
  color:white;
  background: black;
   // border:1px solid white; 

}

.active {

  @extend .naver:hover;

}


$supemail: 205px;
#supguys {
  display:none;
    margin-top:102px;
  margin-bottom:75px;

  height:$supemail;
font-size:4em;
}


#tapes {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  justify-content: space-around;
  -webkit-justify-content: space-around;

  width: 100%;


}


.tape {
    margin-top:19px;
        margin-bottom:11px;
    img {
//     border:2px solid black;
 //    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;

   -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.25);
-moz-box-shadow:    1px 1px 30px 10px rgba(47, 50, 50, 0.25);
box-shadow:         1px 1px 30px 10px rgba(47, 50, 50, 0.25); 

height: 338px;
width: 260px;

    }
   
      img:hover {
           cursor: pointer;
     //border:2px solid red;
  //   border-radius: 10px;

   -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 30px 10px rgba(47, 50, 50, 0.75);
box-shadow:         1px 1px 30px 10px rgba(47, 50, 50, 0.75); 
    }

}





#artists {

     display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  width: 100%;

  margin-bottom:5px;

}

.artist2 {
  margin-top: 10px;
    img.prof2 {
   display: block;
    margin-left: auto;
    margin-right: auto;

height: 251px;
width: 250px;
   -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.25);
-moz-box-shadow:    1px 1px 30px 10px rgba(47, 50, 50, 0.25);
box-shadow:         1px 1px 30px 10px rgba(47, 50, 50, 0.25); 

    }
  }
.artist {


   margin-top:10px;
      margin-bottom:-3px;
    img.prof {
//     border:2px solid black;
 //    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;

   -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.25);
-moz-box-shadow:    1px 1px 30px 10px rgba(47, 50, 50, 0.25);
box-shadow:         1px 1px 30px 10px rgba(47, 50, 50, 0.25); 

height: 251px;
width: 250px;
//-webkit-filter: greyscale(1);

    }
   
      img.prof:hover {
           cursor: pointer;
     //border:2px solid red;
  //   border-radius: 10px;

   -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 30px 10px rgba(47, 50, 50, 0.75);
box-shadow:         1px 1px 30px 10px rgba(47, 50, 50, 0.75); 
    }


}



.desc {
      text-align: center;
       margin-top: 5px;
      margin-bottom: 10px;
}

.btns {
  margin-left:50px;
}

.btn {
float:left;
margin-left:15px;
img { 
height: 70px;
width: 70px;
}

   img:hover {
           cursor: pointer;
     //border:2px solid red;
  //   border-radius: 10px;

   -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 30px 10px rgba(47, 50, 50, 0.75);
box-shadow:         1px 1px 30px 10px rgba(47, 50, 50, 0.75); 
    }
}

#email {

     display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

    -webkit-flex-flow: column;
    flex-flow:  column ;
// justify-content: space-around;
//  -webkit-justify-content: space-around;

  img {
    margin-left: auto;
     margin-right: auto;
     text-align: center;
     float: center;
       padding-bottom:5px;
  }

  p {
    margin-top:5px;
  }
  margin-top: 30px;
  padding-bottom:62px;
  margin-bottom:85px;

  height:$supemail; 
font-size:36px;
}


#blogbut {
       margin-left: auto;
    margin-right: auto;
    width: 80px;
    text-align: center;
}

#blog {
    margin-top: 20px;
   // border-top:1px dashed black;

}




h2 {
        margin-left: auto;
    margin-right: auto;
      width:90%; 
    margin-bottom:0px;
     margin-top:10px;
  //   border-top:1px solid black;
}

h4 {
        margin-left: auto;
    margin-right: auto;
      width:90%; 
   
    font-weight: 500;
    margin-bottom:5px;
       margin-top:0px;
       font-size: 12px;

}




.blogimg{
         margin-left: auto;
    margin-right: auto;
    img {
       max-width: 60%;
     //   height: 80%;
           display:block;
    margin:auto;
    margin-top:20px;
     margin-bottom:20px;

        -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.25);
-moz-box-shadow:    1px 1px 30px 10px rgba(47, 50, 50, 0.25);
box-shadow:         1px 1px 30px 10px rgba(47, 50, 50, 0.25); 
    }
}



p {
      margin-left: auto;
    margin-right: auto;
     margin-top:0px;
    width:90%; 
text-indent: 2em;
}

@media (min-width:700px) {
p {
      margin-left: auto;
    margin-right: auto;
     margin-top:0px;
    width:50%; 

  }


        h2 {
          margin-left: auto;
    margin-right: auto;
    width:50%; 
    }

    h4 {
      margin-left: auto;
    margin-right: auto;
    width:50%; 
    }
}



@media (max-width:1000px) {


.blogimg{
         margin-left: auto;
    margin-right: auto;
    img { 
      max-width: 100%;
        width: 80%;
        height: 80%;
           display:block;
    margin:auto;
    margin-top:20px;
     margin-bottom:20px;

        -webkit-box-shadow: 1px 1px 30px 10px rgba(47, 50, 50, 0.25);
-moz-box-shadow:    1px 1px 30px 10px rgba(47, 50, 50, 0.25);
box-shadow:         1px 1px 30px 10px rgba(47, 50, 50, 0.25); 
    }
}

}



    

.post {
    margin-left: auto;
    margin-right: auto;
     margin-top:0px;
    //width:50%; 
   // padding-bottom:10px; 
      
}
.postEdit {
    margin-left: auto;
    margin-right: auto;
     margin-top:0px;
    width:50%; 
   // padding-bottom:10px; 

}

.postend {

 border-bottom:1px solid black;
    width:25%;
       margin-left: auto;
    margin-right: auto;
}
 




.ng-hide {
  display:none!important;
}

textarea.header {
   float: center;
     height:30px;
   width:350px; 
    max-width:450px;
   //text-align: center;
   font-size: 24px;

font-family: 'Roboto Condensed', sans-serif;
background: transparent;
border:3px solid black;

}

textarea.body {
  width:400px; 
   max-width:400px; 
   height:200px; 
   //text-align: center;
     font-size: 16px;

font-family: 'Roboto Condensed', sans-serif;
background: transparent;
border:3px solid black;
}


input.submit {

font-size: 24px;
  background: transparent;
border:3px solid black;
cursor:pointer;
 color: black; 



}

.submit:hover{
  color: white; 
   background: black;
 }


.blogsub {
  margin-top: -35px;
}

form {
  margin-bottom: 50px;
}

pre {

font-family: 'Roboto Condensed', sans-serif;

margin: 0px;

}




.preview {
 word-wrap: break-word;  
text-align: left;
margin-left: auto;
margin-right: auto;


text-indent: 2em;
 //border:1px solid black;
 


}
.imgurl {
  margin-top: -20px;
  margin-bottom: 20px; 
  width: 350px;
}

.prev2 {
  margin-left: auto;
margin-right: auto;
width:15%;
border:3px solid black;
margin-bottom: 10px;
font-size:1.5em;

}

.prev2:hover {
  color:white;
  background:black;
  border:3px solid white;
  cursor:pointer; 
}

.prev3 {
  margin-left: auto;
margin-right: auto;
width:35%;
//border:3px solid black;
margin-bottom: 5px;

//height: 30px;
font-size: 12px;
;

}