

<div id="bodwrap">




<body>
<div id="logo"> <!-- wrap -->
<img src="imgs/stungunlogotransparent.png" height="120px" width="120px" ng-click="stun.selectTab(0)">


</div>



			<div id="nav">



							<div class="naver colors" ng-click="stun.selectTab(1)" ng-class="{active: stun.isSelected(1)}">
							Tapes 
							</div>

							<div class="naver colors" ng-click="stun.selectTab(2)" ng-class="{active: stun.isSelected(2)}">
							Artists
							</div>


							<div class="naver colors" ng-click="stun.selectTab(3)" ng-class="{active: stun.isSelected(3)}">
							E-mail 
							</div>


				</div>









<div id="supguys" ng-show="stun.isSelected(0)" style="font-size:36px;">
<p align="center">
Sup Guys
</p>
</div> 









		<div id="tapes" ng-show="stun.isSelected(1)"> 








			<div  class="tape"  ng-repeat="tape in stun.tapes">


							<a ng-href="{{tape.storeurl}}">
							<img src="{{tape.imgurl}}">
							</a>



			</div> 
 






</div>











<div id="artists"  ng-show="stun.isSelected(2)">


			<div class="artist" ng-repeat="stunah in stun.stunner" >
				<img class="prof" ng-src="{{stunah.profpic}}">
					<div class="desc">{{stunah.artist}}
					</div>
					<div class="btns">

							<div class="btn">
								<a ng-href="{{stunah.bndcmp}}">
									<img src="http://static.wixstatic.com/media/52c4de_8b736db0cb604d428140fe7691a8c1a7.jpg">
									</a>
										</div>

								<div class="btn">
										<a ng-href="{{stunah.fbook}}">
								<img src="imgs/facebook.svg">  
								</a>  
								</div>
					</div>
				</div> 


</div> 








<div id="email" class="animate-show" ng-show="stun.isSelected(3)">
<img src="http://media.giphy.com/media/5t8WBZIVID7oI/giphy.gif" width="140px" height="140px"/>
<p align="center">
Anything:
<a href="#"> Stunguntapes@gmail.com </a>
</p>
</div> 



					

</div> <!-- bodwrap -->

